body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

section{
    width: 55%;
  
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius:5px; 
    
     
    
}
p{
    font-size: 13px;
    color: rgb(218, 212, 212);
}
.parat1 ,.parat2 ,.parat3{
    padding-left: 40px;
    padding-top: 40px;
 

    padding-right: 40px;
    line-height: 18px;
    color:rgb(226, 223, 223);
 
}
.parat1{
    background-color:rgb(231, 156, 63) ;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;

}
.parat2{
    background-color:rgb(124, 179, 180);

}
.parat3{
    background-color: rgb(83, 118, 119);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}
button{
    font-size: 11px;
    margin-bottom: 25px;
       margin-top:40px ;
    padding: 10px 20px;
    border:solid white 2px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
     background: none;
     outline: none;
     color: rgb(218, 212, 212);
}

 .parat1 button:hover{
    background-color: white;
    color: rgb(231, 156, 63) ;
}
.parat2 button:hover{

    background-color: white;
    color:rgb(124, 179, 180);
}

.parat3 button:hover{

    background-color: white;
    color: rgb(83, 118, 119);
}



   





